# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env/
.venv/
env/
venv/

# Mac system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Audio/video and data artifacts
*.wav
*.mp4
*.avi
*.mov
*.avro
*.log
video_list.txt
